@model EmailFlashcards.Models.FlashcardSetting



<h1>Flashcards Settings</h1>


<form asp-action="SettingsEdit" class="mt-5">
    <label class="form-label" for="NumberOfFlashcardsPerDay">Number of Flashcards Per Day: <b><span id="NumberOfFlashcardsPerDayValue"></span></b></label>
    <div class="range">
        <input asp-for="FlashcardsPerDay" value=@ViewData["FlashcardsPerDay"] type="range" class="form-range" min="0" max="10" step="1" id="NumberOfFlashcardsPerDay" />
    </div>


    <label for="appt-time">Choose time: </label>
    <input id="appt-time" asp-for="Time" value=@ViewData["Time"] type ="text" name="appt-time"/>


    <label for="email">Please send the flashcards to:</label>
    <input asp-for="FlashcardEmailAdress" value=@ViewData["FlashcardEmailAdress"] type="email">

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary rounded-pill btnlinks mt-2" />
    </div>

</form>


<script>
    var slider = document.getElementById("NumberOfFlashcardsPerDay");
    var output = document.getElementById("NumberOfFlashcardsPerDayValue");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }
</script>


