@model EmailFlashcards.Models.Flashcard

<div class="row justify-content-center mt-5">
    <div class="col-auto">
        <div class="card text-white bg-danger mb-3" style="max-width: 27rem;">
            <div class="card-header">
                <h4>Are you sure you want to delete this flashcard?</h4>
            </div>
            <div class="card-body">
                <h6 class="card-title">
                    Name of your flashcard: @Model.FlashcardTitle
                </h6>
                <p class="card-text">
                    Created: @Model.FlashcardCreatedDate
                </p>
                <form asp-action="Delete">
                    <div class="form-group mt-2">
                        <input type="submit" value="Delete" class="btn btn-dark text-white" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>