@model EmailFlashcards.Models.Flashcard


<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.js"
        integrity="sha512-aZY0xUDV+pHpyF5BIQ3kYnSI+2l/9HfjZa8e9W95JPwIECEafVw2mF8zX9wZR1Bgj3wWrJfMNipLjoHLY4oubw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.snow.css"
      integrity="sha512-PVNMdkw+2UbxMaF03ZTxkRCySBl5QvZgSQPO0vuIpYIzb5h+Q18y8A/W/N4Vpo8EerHoi2DTZta/UxrdKPG0dA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />


<h1>Edit Your Flashcard</h1>

<div class="row mt-4">
    <div class="col-md-12">
        <form asp-action="Edit" asp-controller="Flashcards">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlashcardId" />
            <div class="form-group mb-2 shadow-sm">
                <label asp-for="FlashcardTitle" class="control-label"></label>
                <input asp-for="FlashcardTitle" class="form-control" />
                <span asp-validation-for="FlashcardTitle" class="text-danger"></span>
            </div>

            <div id="editor-container" style="height: 350px">
                @Html.Raw(Model.FlashcardText)
            </div>
            <div class="form-group">
                <input asp-for="FlashcardText" class="form-control" type="hidden" id="quill_html" />
                <span asp-validation-for="FlashcardText" class="text-danger"></span>
            </div>

            <div class="form-group mt-2 shadow-sm">
                <label asp-for="Categories" class="control-label">Categories</label>
                <select name="CategoryList" class="form-control" asp-items="ViewBag.CategoryList" multiple>
                </select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



<script src="~/js/RichTextEditor.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
