@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">
            <h1 class="heroTitle">
                Flashcards app for faster learning
            </h1>
            <div class="subtitle">
                Create your flashcards and learn faster!!!
            </div>

        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7">
        <iframe  src="https://www.youtube.com/watch?v=cVf38y07cfk&ab_channel=Osmosis" class="img-fluid"></iframe>
    </div>
</div>